.container {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  position: relative;
}

.content {
  position: absolute;
  top: 100%;
  margin-top: 10px;
  right: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
}
