.button {
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  padding: 0 10px;
  border: none;
  background: white;
  position: relative;
  overflow: hidden;
  transition: background 0.2s;
}

.buttonWithBackground {
  background: #05608d;
  color: white;
}

.buttonWithBorderRadius {
  border-radius: 5px;
}

.button:hover {
  background-color: aliceblue;
}

.buttonWithBackground:hover {
  background: #0774ae;
  color: white;
}

.buttonWithBackground:active {
  background: #03507d;
}

.disabled:hover {
  cursor: not-allowed;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #05608d;
}

.loaderDots {
  background-color: white !important;
}
