.container {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #e0e0e0;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 95dvw;
}

.bottom {
  display: flex;
  height: 30px;
  margin-top: 10px;
  align-items: center;
  gap: 10px;
}

.type {
  background-color: #d3e7f1;
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 12px;
  display: flex;
  color: #2f2f2f;
  align-items: center;
  gap: 5px;
}

.typeName {
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
}

.infoButton {
  display: none;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .infoButton {
    display: flex;
  }
}
