.container {
  display: flex;
  justify-content: center;
  height: calc(100dvh - var(--navbar-height));
}

.innerContainer {
  flex: 1;
  max-width: 1500px;
  display: flex;
}

.left {
  flex-grow: 1;
}

.right {
  flex: 1;
  box-shadow: 10px 0px 8px rgba(0, 0, 0, 0.05);
}

.left.inactive {
  display: none;
}

.right.inactive {
  display: none;
}

@media (min-width: 768px) {
  .left {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    width: 300px;
  }

  .left.inactive {
    width: 300px;

    display: block;
  }

  .right.inactive {
    display: block;
  }
}

.issueLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
}

.issueLinkDisplayContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 10px;
}

.issueLinkDisplay {
  background-color: #e5e5e5;
  border: none;
  padding: 10px;
  border-radius: 5px;
  word-break: break-all;
  max-width: 510px;
}

.copyButton {
  flex-shrink: 0;
  width: 200px;
}

.issueLinkTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.issueLinkSubtitle {
  font-size: 14px;
  margin-top: 20px;
  color: #666;
  text-align: center;
}
