.container {
  display: flex;
  height: calc(100vh - var(--navbar-height));
}

.left {
  flex-basis: 300px;
  max-width: 300px;
}

.right {
  background-color: blue;
  flex: 1;
}

@media (max-width: 768px) {
  .left {
    flex: 1;
    max-width: unset;
  }

  .left.inactive {
    display: none;
  }

  .right.inactive {
    display: none;
  }
}
