.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 60px;
}

.left {
  display: flex;
  gap: 10px;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
  color: #05608d;
}

.right {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: underline;
}

.clientImage {
  border-radius: 100%;
}

.signInButtonText {
  padding: 0 10px;
}

.content {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.contentUserInfo {
  padding: 10px 0;
  background-color: #333;
  color: white;
  font-size: 12px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.buttonText {
  width: 100%;
  text-align: left;
}

.contentButton {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}
