.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.issuesList {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding-top: 5px;
}

@media (min-width: 500px) and (max-width: 768px) {
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}

.createIssueContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.createIssueButton {
  flex: 1;
}

.createIssueButtonContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
