.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nameInput {
  height: 40px;
}

.submitButton {
  width: 100px;
}
