.container {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 10px;
}

.backButton,
.info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  cursor: pointer;
}

.title {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  text-align: center;
  max-width: calc(100vw - 70px);
}

@media (min-width: 768px) {
  .container {
    display: none;
  }
}
