.nav {
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container {
  flex: 1;
  max-width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0.5rem 1rem;
}

@media (min-width: 600px) {
  .container {
    padding: 1rem 2rem;
  }
}

.left {
  display: flex;
  gap: 10px;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
  color: #05608d;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.clientImage {
  border-radius: 100%;
}

.signInButtonText {
  padding: 0 10px;
}

.content {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.contentUserInfo {
  padding: 10px 0;
  background-color: #333;
  color: white;
  font-size: 12px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.buttonText {
  width: 100%;
  text-align: left;
}

.contentButton {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.signInButton {
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #747775 !important;
}

.hideOnSmallScreen {
  display: none;
}

.showOnSmallScreen {
  display: inline;
}

@media (min-width: 600px) {
  .hideOnSmallScreen {
    display: inline;
  }

  .showOnSmallScreen {
    display: none;
  }
}

.dashboardButtonLink {
  text-decoration: none;
  margin-left: 10px;
}

.dashboardButton {
  display: flex;
  align-items: center;
  gap: 5px;
}
