.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
  color: #05608D;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.clientImage {
  border-radius: 100%;
}